@media all and (min-width: 480px) {
  .ListAsset {
    padding: 60px 0;
  }

  .ListAsset form {
    margin: 0 auto;
    max-width: 320px;
    padding: 60px 0;
  }

  .ListAsset Table {
    margin: 0 auto;
    max-width: 960px;
    padding: 60px 0;
  }
}